* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-family);
}

img,
video,
iframe {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #000000;
}

input,
button {
    border: none;
}

select option {
    font-family: var(--font-family);
}

select {
    font-family: var(--font-family);
    color: rgba($color: gray, $alpha: 0.8);
}

input[type="submit"] {
    cursor: pointer;
}

input::placeholder {
    font-family: var(--font-family);
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
}
