.banner {
    position: relative;
    &__image {
        padding-top: 40%;
    }
    &__option {
        flex-wrap: wrap;
        &--container {
            margin-top: 4rem;
            @include min-lg {
                margin-top: -10rem;
            }
            padding: 1rem 0rem;
            background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
            position: relative;
            z-index: 11;
        }
        @include flexJustifyAlign(center, center);
        gap: 3rem;
        @include min-lg {
            @include flexJustifyAlign(space-between, center);
            gap: 0;
        }
        flex-wrap: wrap;
        &--item {
            padding: 1rem 0rem;
            display: block;
            cursor: pointer;
            flex-shrink: 0;
            @include min-xl {
                width: calc(100% / 8);
            }
            & > div {
                margin: auto;
                width: 5rem;
                height: 5rem;
                border-radius: 100rem;
                background-color: #ffffff;
                @include flexJustifyAlign(center, center);
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                img {
                    width: 70%;
                    height: 70%;
                    border-radius: 100rem;
                    object-fit: cover;
                }
                margin-bottom: 1rem;
            }
            & > p {
                text-align: center;
                font-size: 1.46rem;
                line-height: 1.6rem;
                font-weight: 600;
                &:hover {
                    color: var(--color);
                }
                span {
                    display: block;
                }
            }
        }
    }
    &__search {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
        @include min-lg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 80%;
            bottom: 0;
        }
        z-index: 20;
        color: #ffffff;
        text-shadow: 1px 1px 1px #333;
        text-align: center;
        @include max-lg {
            padding-top: 2rem;
        }
        @include min-lg {
            padding-top: 7%;
        }
        h2 {
            font-size: 3.2rem;
            font-weight: 300;
        }
        h1 {
            font-size: 3.2rem;
            font-weight: bold;
        }
        &--input {
            position: relative;
            padding: 2rem;
            margin: auto;
            input {
                width: 100%;
                padding: 1.6rem;
                padding-left: 4.5rem;
                border-radius: 100rem;
                background-color: #f7d800;
                color: #ffffff;
            }
            input::placeholder {
                font-family: var(--font-family);
            }
            i {
                font-size: 2rem;
                color: #333;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 3.5rem;
            }
        }
        &--app {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5rem;
            margin: 2rem auto;
            @include min-lg {
                margin: 6rem auto;
            }
            width: 30rem;
            img {
                width: 12.5rem;
            }
        }
        &--popup {
            &.active {
                display: block !important;
            }
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            display: none;
            width: 100%;
            max-height: 60vh;
            overflow-y: scroll;
            text-shadow: none;
            color: #333;
            text-align: left;
            background-color: #ffffff;
            position: absolute;
            z-index: 99;
            top: 100%;
            left: 0;
            ul {
                li.active {
                    font-weight: 600;
                    background-color: rgba(128, 128, 128, 0.105);
                }
                li {
                    padding: 1rem 1rem;
                    font-size: 1.4rem;
                    border-bottom: 0.1rem solid rgba(51, 51, 51, 0.1);
                }
            }
        }
    }
}
