.item {
    &__post {
        width: 100%;
        padding: 2rem 0rem;
        &--heading {
            font-weight: bold;
            font-size: 2.4rem;
            margin: 2.5rem 0rem;
        }
        &--item {
            display: block;
            max-width: 100%;
            &--image {
                padding-top: 56.25%;
            }
            &--text {
                margin: 0.2rem 0rem;
            }
        }
    }
    &__guide {
        width: 100%;
        padding: 2rem 0rem;
        &--item {
            max-width: 100%;
            display: flex !important;
            align-items: center;
            &--image {
                padding-top: 20%;
            }
            &--text {
                padding-left: 2rem;
                font-weight: bold;
            }
        }
    }
}
