.service {
    & .row {
        overflow: hidden;
    }
    &__slider {
        margin-top: 3rem;
        cursor: pointer;
        position: relative;
        display: flex;
        @include min-ss(550px) {
            margin-left: -2.5rem !important;
            margin-right: -2.5rem !important;
        }
        &--item {
            width: 100%;
            flex-shrink: 0;
            position: relative;
            display: block;
            @include min-ss(550px) {
                width: 50%;
            }
            @include min-md {
                width: calc(100% / 3);
            }
            @include min-lg {
                width: 25%;
            }
            @include min-ss(550px) {
                padding-left: 2.5rem !important;
                padding-right: 2.5rem !important;
            }
            &--sticky {
                position: absolute;
                z-index: 10;
                top: 1rem;
                background-color: #fef04c;
                border-radius: 100rem;
                padding: 0.4rem 1rem;
                font-weight: 600;
                font-size: 1.2rem;
                left: 3rem;
            }
            &--image {
                width: 100%;
                border-radius: 1.2rem;
                & > div {
                    padding-top: 62.5%;
                }
                img {
                    border-radius: 1.2rem;
                }
                margin-bottom: 1rem;
            }
            h3 {
                font-size: 1.6rem;
            }
            ul {
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding-left: 3rem;
                list-style-type: disc;
                li {
                    font-size: 1.3rem;
                }
            }
            p {
                font-weight: bold;
                gap: 1rem;
                @include flexJustifyAlign(flex-start, center);
                color: var(--color);
            }
        }
    }
}
